@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 9% 97%;
    --foreground: 240 6% 10%;

    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;

    --border: 60 5% 90%;
    --input: 60 5% 90%;
    --ring: 208 25% 48%;

    --primary: 208 25% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 60 5% 94%;
    --secondary-foreground: 240 6% 10%;

    --muted: 60 5% 94%;
    --muted-foreground: 240 2% 44%;

    --accent: 60 5% 94%;
    --accent-foreground: 240 6% 10%;

    --success: 125 18% 35%;
    --success-foreground: 0 0% 100%;

    --warning: 37 43% 40%;
    --warning-foreground: 0 0% 100%;

    --radius: 0.875rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv11", "ss01";
  }
}
